# For PyTorch with CUDA 11.6 compatibility
--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision

# Other dependencies
accelerate
diffusers
einops
gradio
ipython
numpy
opencv-python-headless
pillow
psutil
tqdm
transformers
salesforce-lavis
